In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("교원_1인당_학생수_시도_시_군_구__20231226152853.csv", na_values="?")
df

       행정구역별            2021     2021.1   2021.2
0      행정구역별  교원1인당 학생수(A÷B)   재적학생수(A)   교원수(B)
1         전국           14.83  8,449,890  569,723
2      서울특별시           15.67  1,455,703   92,882
3     　　　종로구           16.84     55,087    3,272
4      　　　중구           17.77     36,209    2,038
..       ...             ...        ...      ...
242   　　　거창군           11.99      9,415      785
243   　　　합천군            5.37      2,648      493
244  제주특별자치도           15.15    113,479    7,488
245   　　　제주시           16.47     93,747    5,691
246  　　　서귀포시           10.98     19,732    1,797

[247 rows x 4 columns]

In [2]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼은: {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

missing_col = check_missing_col(df)

결측치가 존재하지 않습니다

In [3]:
#필요없는 열 삭제

del df['2021.1']
del df['2021.2']
df

       행정구역별            2021
0      행정구역별  교원1인당 학생수(A÷B)
1         전국           14.83
2      서울특별시           15.67
3     　　　종로구           16.84
4      　　　중구           17.77
..       ...             ...
242   　　　거창군           11.99
243   　　　합천군            5.37
244  제주특별자치도           15.15
245   　　　제주시           16.47
246  　　　서귀포시           10.98

[247 rows x 2 columns]

In [4]:
df.to_csv("C:/final/결측치제거교원_1인당_학생수_시도_시_군_구__20231226152853.csv", index=False)